*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* AKA 10px */
}

body {
  background-color: hsl(0, 0%, 94%);
  font-family: Poppins;
}

@font-face {
  font-family: Poppins;
  src: url(../src/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-EBI;
  src: url(../src/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: poppins-I;
  src: url(../src/fonts/Poppins-Italic.ttf);
}

/* Main Containor */

.App {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The containors */

.containor {
  margin-top: 70px;
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 20px;
  border-bottom-right-radius: 200px;
}

.containor-upper {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(0, 1%, 44%);
}

.containor-lower {
  font-family: Poppins-EBI;
  font-size: clamp(3rem, 8vw, 6.5rem);
}

/* The input field styling  */

input {
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid hsl(0, 0%, 86%);
  padding: 5px 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.inputNormal:focus {
  outline: none;
  border-color: hsl(259, 100%, 65%);
}

input[type="number"] {
  font-size: 2.5rem;
  height: 50px;
  width: 80%;
  max-width: 140px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 10px;
  width: 300px;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

/* The input errors */

.inputError {
  outline: none;
  border-color: hsl(0, 100%, 67%);
}

/* The line and the arror svg */

.line-and-arrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}
.line {
  background-color: hsl(0, 0%, 86%);
  height: 1px;
  width: 85%;
}

.arrow {
  background-color: hsl(259, 100%, 65%);
  border-radius: 100%;
  padding: 15px;
  border: none;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  background-color: black;
}

/* Error text */

.redText {
  color: hsl(0, 100%, 67%);
}

.errorText {
  font-family: Poppins-I;
  font-weight: 200;
  margin-top: 3px 0 0 0;
}

/* The media queries */

@media screen and (min-width: 360px) and (max-width: 650px) {
  .containor {
    width: 90%;
  }

  .containor-lower {
    margin-top: 4rem;
  }

  .line-and-arrow {
    justify-content: center;
  }

  .arrow {
    position: absolute;
  }

  .line {
    width: 100vw;
    margin: 52px 0 52px 0;
  }

  input[type="number"] {
    font-size: 2rem;
  }
}
