*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* AKA 10px */
}

.DMY-lable {
  font-size: 1rem;
}

.DMY-flex-upper-containor {
  display: flex;
  flex-direction: row;
}

hr {
  width: 100px;
  display: inline-block;
}
